/SECRET/
*.log
/.git
__pycache__/
/bin/
/fonts/
/lib/
/include/
/tex/ernestien.csv
/tex/main.pdf
/tex/main.aux
/tex/main.out
/upgrade.temp
/tex/*.csv
/tex/main.fls
/tex/main.fdb_latexmk
/params/local.txt
/votes/polls.csv
/votes/archive.csv
/scores/